/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/config/master.key
/vendor/bundle

# Ignore all environment files except templates.
/.env*
!/.env.example
