.idea/

/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/config/master.key
/vendor/bundle

# Ignore all environment files except templates.
/.env*
!/.env.example
